<main class="hero">
  <div class="hero_container">
    <form class="hero_container-search">
      <label for="name">
        <input
          type="text"
          name="name"
          id="name"
          class="inputSearch js_inputSearch"
          placeholder="Example: Olu Mel"
        />
      </label>
      <input type="submit" class="btnSearch" value="Search" />
    </form>
  </div>

  <div class="heroCard">
    <section class="characters">
      <p class="characters_text">
        Characters <i class="fa-solid fa-heart heart"></i>
      </p>
      <ul class="cardsList js_cardsList"></ul>
    </section>

    <section class="favorites">
      <p class="favorites_text">
        Favorites <i class="fa-solid fa-star star"></i>
      </p>
      <img src="" alt="" />
      <ul class="js_cardfav"></ul>
    </section>
  </div>
</main>
