<main class="hero">
  <div class="hero__container">
    <form class="hero__container--search">
      <label for="name">
        <input
          type="text"
          name="name"
          id="name"
          class="inputSearch js_inputSearch"
          placeholder="Example: Olu Mel"
        />
      </label>
      <input class="btnSearch" type="submit" value="Search" />
    </form>
  </div>

  <div class="heroCard">
    <section class="characters">
      <p class="characters__text">
        Characters <i class="fa-solid fa-heart heart"></i>
      </p>
      <ul class="cardsList js_cardsList"></ul>
    </section>

    <section class="favorites">
      <p class="favorites__text">
        Favorites <i class="fa-solid fa-star star"></i>
      </p>
      <ul class="cardfav js_cardfav"></ul>
      <form class="reset">
        <input class="btnReset js_btnReset" type="submit" value="Reset" />
      </form>
    </section>
  </div>
</main>
