<main class="hero">
  <div class="hero_container">
    <form class="hero_container-search">
      <label for="name">
        <input
          type="text"
          name="name"
          id="name"
          class="search"
          placeholder="Example: Olu Mel"
        />
      </label>
      <input type="submit" class="btnSearch" value="Search" />
    </form>
  </div>

  <div class="main_text">
    <p class="text_characters">Characters <i class="fa-solid fa-heart"></i></p>
  </div>

  <div class="container_fav">
    <p class="text_fav">Favorites <i class="fa-solid fa-star"></i></p>
    <img src="" alt="" />
    <ul class="js_cardfav"></ul>
  </div>

  <div class="container_cards">
    <ul class="cardsList js_cardsList"></ul>
  </div>
</main>
