.hero_container {
  display: flex;
  justify-content: center;
}

.hero_container-search {
  background-color: pink;
  height: 4rem;
  width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  transform: translateY(-30px);
  box-shadow: inset;
}
.inputSearch {
  border: 1px solid blue;
  width: 35rem;
}
.btnSearch {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}

.heroCard {
  display: flex;
}
.characters {
  width: 50%;
}
.characters_text {
  line-height: 2.14;
  font-size: 24px;
  color: blue;
}
.favorites {
  width: 50%;
}
.favorites_text {
  color: blueviolet;
  line-height: 2.14;
  font-size: 24px;
}
.cardsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.licards {
  padding: 1rem;
  background-color: azure;
  //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 8px 4px 4px grey;

  width: 8rem;
}
.imgCard {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
}
.titleName {
  text-align: center;
}
/*

.container_fav {
  display: flex;
  flex-direction: column;
}
.cardsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.licards {
}
.licards {
  cursor: pointer;
}
*/
