.hero_container {
  display: flex;
  justify-content: center;
}

.hero_container-search {
  background-color: pink;
  height: 4rem;
  width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  transform: translateY(-30px);
  box-shadow: inset;
}
.search {
  border: 1px solid blue;
  width: 35rem;
}
.btnSearch {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}
.main_text {
  display: flex;
  justify-content: center;
}
.text_fav {
  color: blueviolet;
  line-height: 2.14;
  font-size: 20px;
}
.text_characters {
  line-height: 2.14;
  font-size: 24px;
  color: blue;
}

.container_fav {
  display: flex;
  flex-direction: column;
}
.cardsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/*.licards {
}
.licards {
  cursor: pointer;
}
*/
