.hero__container {
  display: flex;
  justify-content: center;

  &--search {
    background-color: azure;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 4rem;
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    transform: translateY(-30px);
  }
}

.inputSearch {
  border: 1px solid blue;
  width: 35rem;
}
.btnSearch {
  background-color: blue;
  font-family: $font-primary;
  color: white;
  border: 1px solid blue;
  width: 6rem;
  border-radius: 20px;
  padding: 0.1rem 0 0.2rem 0;
}
.btnSearch:hover {
  cursor: pointer;
  color: blue;
  background-color: #fff;
  box-shadow: 0 4px 20px blue;
  transition: all 0.2s ease;
}
.heroCard {
  display: flex;
  padding-left: 1rem;
}
.characters {
  width: 70%;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-secundary;
    gap: 0.2rem;
    line-height: 2.14;
    font-size: 24px;
    color: blue;
  }
}

.favorites {
  width: 30%;
  justify-content: center;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    color: darkmagenta;
    line-height: 2.14;
    font-size: 24px;
  }
}

.cardsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.licards {
  cursor: pointer;
  padding: 1rem;
  background-color: azure;
  box-shadow: 8px 4px 4px grey;
  width: 8rem;
}
.licards:hover {
  cursor: pointer;
}
.imgCard {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
}
.titleName {
  text-align: center;
  padding-top: 0.5rem;
  font-family: $font-primary;
}
.cardfav {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  li {
    background-color: pink;
    justify-content: center;
  }
}
.reset {
  display: flex;
  justify-content: center;
}
.btnReset {
  background-color: darkmagenta;
  font-family: $font-primary;
  color: white;
  border: 1px solid darkmagenta;
  width: 5rem;
  padding: 0.1rem 0 0.3rem 0;
  border-radius: 20px;
  transition: all 0.2s;
}
.btnReset:hover {
  cursor: pointer;
  color: darkmagenta;
  background-color: #fff;
  box-shadow: 0 4px 20px darkmagenta;
}
.cardsList .btnRemoveFav {
  display: none;
}
.btnRemoveFav {
  color: black;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  box-shadow: 8px 4px 4px grey;
}
